<?xml version="1.0" encoding="utf-8" ?>

<log4net>
	<appender name="JsonFileLogger" type="log4net.Appender.RollingFileAppender,log4net">
		<file value="D:\\Log\\log.json" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd-HH'.json'" />
		<preserveLogFileNameExtension value="true" />
		<layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" ></layout>
	</appender>
	<logger name="JsonFileLogger">
		<level value="ALL"></level>
		<appender-ref ref="JsonFileLogger"/>
	</logger>
</log4net>